body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F2F5;
  background-color: hsl(0deg 0% 98.04%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.responsiveTable{
  overflow-x:  auto;
  max-width: 100%;
}
.responsiveTable Table{
  width: max-content;
}

a.active {
  color: #2a682d !important;
  font-weight: bold !important;
}

a.sideBar-link:hover {
  color: white !important;
  background-color: #2a682d !important;
  font-weight: bold !important;
}

a.sideBar-link:hover .bi{
  font-size: 20px !important;
}