.site-search{
  background: #FFFF;
  width: 90%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border: 1px solid rgb(194, 191, 191);

}
.site-search  input{
  border: none;
  outline: none;
  height: 90%;
  width: 85%;
  background: transparent;
  padding: 7px 5px;
  font-size: 15px;
}
.site-search img{
  width: 1em;
  cursor: pointer;
}
.sort-by{
  width: 70%;
}
.new-site{
  border: 1px solid green;
  border-radius: 5px;
  padding: 8px;
  width: 230px;
}